doctype html
html
  head
    title= title
  body
    table(border=1,cellspacing=0,cellpadding=5)
      tbody
        each code in subscribes
          tr(id=code)
            th.name= code
            td.quote= quotes[code] && quotes[code][0]
            td.offset= quotes[code] && quotes[code][1]
            td.percentage= quotes[code] && quotes[code][2]
            td.time= quotes[code] && quotes[code][3]
    script(type='text/javascript', src='build/bundle.js').